.hero-section {
    @apply flex items-center min-h-screen px-[5%] bg-[url(https://i.ibb.co/g7zTzvH/blank-blue-halftone-background-low-opacity.png)] bg-no-repeat bg-cover
}

.slide-3d-cube {
    transform:rotateZ(120deg);
    box-shadow:0px 0px 30px -5px hsla(218, 100%, 62%, 0.541);
    @apply w-[55%] rounded-md mx-auto overflow-hidden;
}

.service-section {
    background-image:linear-gradient(130deg,#ecedf1 50%,#135de5 0);
    @apply p-[3%] my-5;
}

.category-section {
    @apply p-[3%] bg-white-400 overflow-hidden my-5 relative;
}

.service-section-box {
    @apply grid z-[3] relative grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5;
}

.circle-blob {
    @apply w-[250px] bg-blue-900 h-[250px] z-[1] rounded-full absolute;
}








/* responsive */

@media only screen and (max-width:767px) {

    /* Set the width and height of the scrollbar */
    ::-webkit-scrollbar {
        width:auto;
        height:4px;
    }

    .service-section {
        background-image:linear-gradient(0deg, #135de5 50%, #ecedf1 50%);
    }
}